body {
  margin: 0;
  background: #f7f7f7;
  font-family: Inter, sans-serif;
}

.course-container {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
}

/* HERO */

.hero-card {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  padding: 30px 40px;
  margin-bottom: 25px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.left-section {
  flex: 1;
}

.left-section h1 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 25px;
}

.left-section p {
  color: #64748b;
  line-height: 1.9;
  font-size: 18px;
  max-width: 700px;
}

.category {
  color: #2563eb;
  font-size: 30px;
  margin-top: 25px;
  font-weight: 600;
}

.start-btn {
  width: 100%;
  max-width: 650px;
  margin-top: 25px;
  border: none;
  background: #2563eb;
  color: white;
  padding: 18px;
  border-radius: 12px;
  font-size: 28px;
  cursor: pointer;
}

.right-section img {
  width: 600px;
  height: 300px;
  object-fit: cover;
  border-radius: 14px;
}

/* STATS */

.stats-card {
  background: white;
  border-radius: 20px;
  border: 1px solid #e5e7eb;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-bottom: 30px;
}

.stat-item h4 {
  color: #64748b;
  font-size: 20px;
  margin-bottom: 10px;
}

.stat-item h2 {
  font-size: 42px;
  margin: 0;
}

/* URL */

.url-section {
  margin-bottom: 30px;
}

.url-section h3 {
  font-size: 32px;
}

.url-box {
  display: flex;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow: hidden;
  background: white;
}

.url-box input {
  flex: 1;
  border: none;
  padding: 20px;
  font-size: 20px;
}

.url-box button {
  width: 70px;
  border: none;
  background: white;
  cursor: pointer;
}

/* CHAPTERS */

.chapters h2 {
  font-size: 48px;
  margin-bottom: 25px;
}

.chapter-card {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  padding: 55px 50px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 45px;
}

.chapter-number {
  width: 62px;
  height: 62px;
  min-width: 62px;
  border-radius: 50%;
  background: #2563eb;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
}

.chapter-content h3 {
  font-size: 38px;
  margin-bottom: 20px;
}

.chapter-content p {
  font-size: 26px;
  color: #475569;
  line-height: 1.8;
  margin-bottom: 18px;
}

.duration {
  color: #2563eb;
  font-size: 24px;
  font-weight: 600;
}